body {
    background: white;
    margin: 0;
  padding: 0;
  font-family:"Candara";
  color:black;
  font-size: 25px;
}

h1 {
    font-family:"Segoe UI";
    color: white;
    text-align: center;
    font-size: 80px;
    margin: 0px;
    padding:0;
}


.header {
    background: linear-gradient(-45deg, #113A94, #0d2d72); 
    background-size: cover;
    height: 170px;
    text-align: center; 
  }

  .nav { 
    background: #000;
    height: 80px; 
    width: 100%;
  }
  
  .nav ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  .nav ul li {
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 10px;
    transition: background .5s; 
  }

  .nav a {
      text-decoration: none;
      color:white
  }
  
  .nav ul li:hover {
    background: #117bff;
    cursor: pointer; 
    transition: background .5s;  
  }

  .text {
      margin:100px;
      margin-top:30px;
  }